@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  /* --primary-shadow: #8b8eaf; */
  --primary-shadow: #387530;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* variables end*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* Loading screen start */

#loader_block {
    background-color: white;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 100000;
    transition: opacity 300ms ease-in-out;
  }
  
  #loader_block span {
    border-radius: 50%;
    border: 6px solid #308d46;
    margin: 10px;
    opacity: 0.4;
  }
  
  #loader_block span:nth-child(1) {
    animation: preloader 1s ease-in-out alternate infinite;
  }
  
  #loader_block span:nth-child(2) {
    animation: preloader 1s ease-in-out alternate .3s infinite;
  }
  #loader_block span:nth-child(3) {
    animation: preloader 1s ease-in-out alternate .6s infinite;
  }
  #loader_block span:nth-child(4) {
    animation: preloader 1s ease-in-out alternate .8s infinite;
  }
  #loader_block span:nth-child(5) {
    animation: preloader 1s ease-in-out alternate 1s infinite;
  }
  
  @keyframes preloader {
    100% {
        transform: scale(2);
        opacity: 1;
    }
  }
  
  /* Loading screen end */

  /* Header start */
.header {
  padding: 0 4.8rem;
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ccf7e4;
}

.header h1{
font-size: 27px;
color:#308d46;
margin-bottom: 9px;
}

.header .logo {
  height: 15rem;
}

.navbar-list {
  display: flex;
  gap: 2.8rem;
  list-style: none;
}




.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: #212529;
  transition: all 0.3s;
}

.navbar-link:hover,
.navbar-link:active {
    color: #318D44;
}


#contact a:last-of-type {
    background: #318D44;
    border-radius: 2rem;
    color: white;
    padding: 0.9rem 0.9rem;
    margin-top: -9px;
    transition: background 300ms ease-in-out;
  }
  
#contact a:last-of-type:hover {
    background: black;
  }



.mobile-navbar-btn {
    display: none;
    background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 4rem;
  height: 4rem;
  color: #696969;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

@media (max-width: 62em) {
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    /* border: 3px solid #212529; */
    color: #212529;
  }

  .header {
    position: relative;
  }

  .header .logo {
    width: 40%;
  }

  .navbar {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background: #ccf7e4;
    position: absolute;
    top: 0;
    left: 0;
    z-index:999;
    display: flex;
    justify-content: center;
    align-items: center;

    /* to get the tranisition  */
    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
}

/* Below 560px  */
@media (max-width: 992px) {
  .header {
    padding: 0 2.4rem;
  }

  .header .logo {
    width: 35%;
  }
  .header h1{
    font-size: 23px;
  }
}
/*header end*/


/* about start */


.hero {
  display: flex;
  align-items:center;
  justify-content: center;
  gap: 8.5rem;
  /* max-width: 68.75rem; */
  margin: auto;
  background-image: url('./img/about_back.jpg');
  background-blend-mode: soft-light;
  /* opacity:0.5; */
  background-color: #ccf7e4;
  height:635px;
}
.hero img {
  height: 57.5rem;
  width: 57.5rem;
}

.bio {
  width: 50rem;
  padding: 0.625rem;
  border-radius: 26px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  background-color: #53925b;
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio-text {
  line-height:1.8;
  padding: 0.3rem 0;
  margin:15px;
  color:white;
  font-size: large;
}

.bio-title{
  line-height:.8;
  font-size:30px;  
  font-weight:bolder;
  padding:10px;
  
  /* padding:0; */
}

.welcome{
  margin:15px 15px 0px 14px;
}

@media screen and (max-width: 992px) {
  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
        height: 37.5rem;
        width: 30rem;
    }

  .bio {
    margin-top: -7rem;
    width: 28.5rem;
    margin-top: -40px;
    margin-bottom:40px; 
  }
  .bio-title{
    font-size:19px;
    padding:2px;
  }
  .bio-text{
    font-size: small;
  }
} 


/* about end */

/* Events start  */

.swiper-body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  background-color: #ccf7e4 ;
  /* background-image: url('./img/section-bg.webp'); */
  background-color: #318d42;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 80rem;
}

.events-head {
  color: white;
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  transform: translateY(-40px);
}

#events-head-img {
  width: 40rem;
  transform: rotate(-2deg) translateY(-2.7rem);
}

.swiper {
  height: 50rem;
  width: 135rem;
  /* padding:0px; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /* margin:2px; */
  padding:5px;
  border-radius: 15px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  object-fit: initial;
  border-radius:15px;
}

.swiper-pagination {
  transform: translate(-4.4rem, -5.5rem) !important;
}

.swiper-pagination-bullet {
  height: 20px !important;
  width: 20px !important;
  background: white !important;
  opacity: 0.3 !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
}

@media screen and (max-width:1500px) {
  .swiper {
      height: calc(70vw / 2);
      width: 70vw;
  }

  .swiper-body {
      height: calc(70vw / 2 + 23rem);
  }

  #events-head-img {
      width: 35rem;
      transform: rotate(-2deg) translateY(-2.5rem);
  }

  .swiper-pagination {
      transform: translate(-4.4rem, -4.3rem) !important;
  }
}

@media screen and (max-width:900px) {
  .swiper {
      height: calc(100vw - 3rem);
      width: calc(100vw - 3rem);
  }

  .swiper-body {
      height: calc(100vw - 3rem + 23rem);
  }

  #events-head-img {
      width: 95vw;
      max-width: 35rem;
      transform: rotate(-2deg) translateY(-1rem);
  }

  .swiper-pagination {
      transform: translate(-7.5rem, -2rem) !important;
  }
}

/* Events end */


/*team start */
.container{
    background: #ccf7e4;
    padding:10px;
    /* margin-top:5px; */
    /* margin-bottom:10px; */
    width:100%;
    margin-left:0px;
    margin-right:0px;
    min-width: -webkit-fill-available;
}
.container .section-title{
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  font-family: cursive;
  color: #318D44;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.our-team{
    padding: 20px 15px 30px;
    background: #fff;
    border-radius: 15px;
    text-align: center;
    margin:20px;
}
.our-team .pic{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 10px;
    margin-bottom: 5px;
    transition: all 0.5s ease 0s;

    /* background: #318D44; */
    border-radius: 10%;
    /* transform: translateY(-35px); */
}
/* .our-team:hover .pic{
    background: #318D44;
    border-radius: 10%;

    transform: translateY(-35px);
} */
 /* .our-team:hover img{
  background: #318D44;
 border-radius: 10%;

 transform: translateY(-35px);
} */
.pic img{
  width: 100%;
  height: 240px;
  border-radius: 10%;
  transform: translateY(-55px);
  padding:5px;
}
.our-team .title{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #2e282a;
    text-transform: uppercase;
    margin: 0 0 7px 0;
    margin-top: -42px;
}
.our-team .post{
    display: block;
    font-size: 15px;
    color: #318D44;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.our-team .social{
    padding: 0;
    margin: 0;
    list-style: none;
}
.our-team .social li{
    display: inline-block;
    margin-right: 5px;
}
.our-team .social li a{
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 15px;
    color:#318D44;
    border: 1px solid #318D44;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social li a{
    background: #318D44;
    color: #fff;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
    /* .pic img{
      height: 150px;
      width:100px;
    } */
}

/* team end  */



/* social media sticky */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 1%;
  bottom: 40%;
  z-index:999;
}

.socicon {
  width: 6rem;
  height: 6rem;
  
}


/* Contact start  */

.contact-body{

  background-color: #ccf7e4;
  padding-bottom:15px;
}
#contact-form {
  width: 650px;
  height: 677px;
  margin-bottom:15px;
}

#contact-form::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.contact-body {
  display: flex;
  justify-content: center;
}

/* Contact end */



/* footer start*/

footer{
    width: 100%;
    background: linear-gradient(to right,#06350f, #1f7d32);
    color: #fff;
    padding: 50px 0 30px 50px;
    font-size: 13px;
    line-height: 20px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col a{
    text-decoration: none;
    color:white;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
.footer_logo{
    width: 80px;
    position: relative;
    top: -23px;
    left: -20px;
}
.footer_about{
    position: relative;
    top: -23px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.footer_email{
    width: fit-content;
    border-bottom: 1px solid #f66335;
    margin: 20px 0;
}
.footer_email a{
    text-decoration: none;
    color:white
}
.col ul li{
    list-style: none;
    margin-bottom: 12px;
}
.col ul li a{
    text-decoration: none;
    color: #fff;
}
.col form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f66335;
    margin-bottom: 50px;
}
.col form .icon{
    font-size: 18px;
    margin-right: 10px;
}
.col form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
.col form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
.col form button .icon_right{
    font-size: 16px;
    color: #ccc;
}
.col .social_icons .social_icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    background: #f66335;
    margin-right: 15px;
    padding: 5px;
    cursor: pointer;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
footer .copyright{
    text-align: center;
}
.bottom_line{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.bottom_line span{
    width: 15px;
    height: 100%;
    background: #f66335;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moveline 2s linear infinite;
}
@keyframes moveline{
    0%{
        left:-20px;
    }
    100%{
        left:100%;
    }
}